<template>
    <div>
        <q-btn @click="fmMove" flat>
            <q-icon name="content_cut"/>
            <q-tooltip anchor="top left" self="bottom left" :offset="[20, 5]">Move to here</q-tooltip>
        </q-btn>
        <q-btn @click="fmCopy" flat>
            <q-icon name="content_paste"/>
            <q-tooltip anchor="top left" self="bottom middle" :offset="[20, 5]">Copy to here</q-tooltip>
        </q-btn>
    </div>
</template>

<script>
    import {QBtn, QIcon, QTooltip} from 'quasar'

    export default {
        components: {QBtn, QIcon, QTooltip},
        data() {
            return {}
        },
        methods: {
            fmMove() {
                this.fromClipboard('move')
            },
            fmCopy() {
                this.fromClipboard('copy')
            }
        }
    }
</script>

<style>
</style>
