<template>
    <div style="margin:0 .5rem">
        <q-file-manager @refresh="refresher" :table="$store.fm.manager.table"
                        :base-id="parseInt($route.params.storage_id)"></q-file-manager>
    </div>
</template>

<script>
    import {
        QDataTable,
        QField,
        QInput,
        QCheckbox,
        QSelect,
        QSlider,
        QBtn,
        QIcon,
        QTooltip,
        QCollapsible,
        clone,
        date, format, SessionStorage,
    } from 'quasar'
    import QFileManager from './QFileManager'

    const {humanStorageSize} = format

    export default {
        components: {
            QFileManager
        },
        mounted() {
            this.refresher()
            if (SessionStorage.has('clipboard')) {
                const clipboard = SessionStorage.get.item('clipboard')
                if (typeof clipboard == 'object' && Object.keys(clipboard).length) {
                    this.$store.fm.manager.clipboard = clipboard
                } else {
                    this.$store.fm.manager.clipboard = {}
                }
            } else {
                this.$store.fm.manager.clipboard = {}
            }
        },
        methods: {
            refresher() {
                this.listFiles(this.$route.params.storage_id, this.$route.params.path)
            }
        },
        beforeDestroy() {
            this.$store.fm.manager.path = ''
            this.$store.fm.manager.table = []
        },
        data() {
            return {}
        },
        watch: {
            '$route'(to, from) {
                this.listFiles(to.params.storage_id, to.params.path)
            }
        }
    }
</script>