<template>
    <span v-if="parts.length">
                <router-link class="text-white" :to="part(-1)"><q-icon name="home"></q-icon></router-link>
        <router-link class="text-white" :to="goUp" v-if="goUp && parts.length > 1">
            <q-icon name="subdirectory_arrow_left" class="flip-vertical"/>
        </router-link>
                <router-link v-for="(item, key) in parts"
                             v-if="parts.length-1 != key"
                             :key="key"
                             class="text-white part"
                             :to="part(key)">{{ item }}</router-link>
            <span v-else>/{{ item }}</span>
    </span>
    <span v-else class="text-white">/</span>
</template>

<script>
    import {QIcon} from 'quasar'

    export default {
        components: {QIcon},
        props: {
            path: {
                type: String,
                required: true
            }
        },
        mounted() {
        },
        computed: {
            parts() {
                return this.path.split('/').filter(String)
            }
        },
        data() {
            return {}
        },
        methods: {
            part(key) {
                return '/fm/' + this.$route.params.storage_id + '/' + this.parts.slice(0, key + 1).join('/')
            }
        }
    }
</script>

<style lang="scss" scoped>
    a.part {
        &::before {
            content: '/';
        }
        &:hover {
            text-decoration: underline;
        }
    }
</style>
