<template>
    <div>
        <q-pull-to-refresh :handler="refresher">
            <q-search v-model="search" placeholder="Search in this folder"/>
            <table class="q-table full-width" :class="{'highlight striped-odd' : !$store.fm.manager.loading}">
                <thead>
                <tr>
                    <th class="text-center checkbox-select non-selectable">
                        <q-checkbox v-model="allSelected" @change="changeSelectAll"/>
                    </th>
                    <th class="text-left non-selectable" :class="{ 'no-pointer-events' : this.search }"
                        @click="changeOrder('basename', String)">&nbsp;Name
                        <q-icon v-show="!this.search && sorting.field == 'basename'"
                                :class="{'flip-vertical' : sorting.asc}"
                                name="filter_list"/>
                    </th>
                    <th class="text-right non-selectable" :class="{ 'no-pointer-events' : this.search }"
                        @click="changeOrder('size', Number)">
                        <q-icon v-show="!this.search && sorting.field == 'size'"
                                :class="{'flip-vertical' : sorting.asc}"
                                name="filter_list"/>
                        Size
                    </th>
                    <th class="cursor-pointer text-right desktop-only" :class="{ 'no-pointer-events' : this.search }"
                        @click="changeOrder('timestamp', Number)">
                        <q-icon v-show="!this.search && sorting.field == 'timestamp'"
                                :class="{'flip-vertical' : sorting.asc}"
                                name="filter_list"/>
                        Date
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-if="$store.fm.manager.loading">
                    <td colspan="4" class="text-center">
                        <q-spinner-dots size="2rem"/>
                    </td>
                </tr>
                <tr v-else v-for="(item, key) in list" :key="key" @click="itemClick(key)"
                    :class="itemsSelecteds.includes(key) ? selectedClass : ''">
                    <td class="text-center checkbox-select">
                        <div class="select">
                            <q-checkbox v-model="itemsSelecteds" :val="key" ref="items"/>
                        </div>
                        <div class="icons">
                            <q-icon class="text-center" :name="item.icon" size="1.3rem"></q-icon>
                        </div>
                    </td>
                    <td class="text-left">{{ item.basename }}</td>
                    <td class="text-right">{{ item.size | humanSize }}</td>
                    <td class="text-right desktop-only">{{ item.timestamp | humanDate }}</td>
                </tr>
                </tbody>
            </table>
            <div class="row justify-end" v-show="!$store.fm.manager.loading">
                <div class="col text-center self-center">{{ currentList.length }} items</div>
                <div class="col-1">
                    <q-select
                            v-model="internalItemsPerPage"
                            :options="paginationOptionsSelect"
                    />
                </div>
                <div class="col text-center">
                    <q-pagination v-model="page" :max="totalPages"/>
                </div>
            </div>
        </q-pull-to-refresh>
        <q-fixed-position v-show="!$store.fm.manager.loading" corner="bottom-right" :offset="[18, 18]">
            <q-fab ref="fabulous"
                   color="primary"
                   active-icon="clear"
                   direction="left"
                   class="animate-pop"
            >
                <q-fab-action v-show="itemsSelecteds.length && onlyFilesSelected" color="secondary"
                              @click="copySelecteds"
                              icon="content_copy">
                    <q-tooltip anchor="top left" self="bottom left" :offset="[30, 5]">Copy or Move</q-tooltip>
                </q-fab-action>
                <q-fab-action v-show="itemsSelecteds.length === 1" color="tertiary" @click="renameItem"
                              icon="fa-i-cursor">
                    <q-tooltip anchor="top left" self="bottom left" :offset="[20, 5]">Rename</q-tooltip>
                </q-fab-action>
                <q-fab-action
                        v-show="itemsSelecteds.length === 1 && ['fa-file-code-o', 'fa-file-text-o', 'fa-sliders'].includes(selectedPaths[0].icon)"
                        color="tertiary"
                        @click="editAsCode"
                        icon="code">
                    <q-tooltip anchor="top left" self="bottom left" :offset="[25, 5]">Code editor</q-tooltip>
                </q-fab-action>
                <q-fab-action v-show="itemsSelecteds.length" color="negative" @click="confirmDelete" icon="delete">
                    <q-tooltip anchor="top left" self="bottom left" :offset="[20, 5]">Delete</q-tooltip>
                </q-fab-action>
                <q-fab-action v-show="!itemsSelecteds.length" color="tertiary" @click="newFolder"
                              icon="create_new_folder">
                    <q-tooltip anchor="top left" self="bottom left" :offset="[20, 5]">New Folder</q-tooltip>
                </q-fab-action>
                <q-fab-action v-show="!itemsSelecteds.length" color="tertiary" @click="newFile"
                              icon="insert_drive_file">
                    <q-tooltip anchor="top left" self="bottom left" :offset="[35, 5]">New empty file</q-tooltip>
                </q-fab-action>
                <q-fab-action v-show="!itemsSelecteds.length" color="tertiary" @click="newUploads"
                              icon="file_upload">
                    <q-tooltip anchor="top left" self="bottom left" :offset="[20, 5]">Upload file</q-tooltip>
                </q-fab-action>
            </q-fab>
        </q-fixed-position>
        <q-modal ref="editCodeModal" maximized>
            <q-modal-layout v-if="$refs.editCodeModal && $refs.editCodeModal.active">
                <q-toolbar slot="header">
                    <q-btn flat @click="editorClose">
                        <q-icon name="keyboard_arrow_left"/>
                    </q-btn>
                    <q-toolbar-title>
                        /{{ editor.path }}
                    </q-toolbar-title>
                    <span>
                        <q-toggle v-model="editor.autosave"
                                  :color="editor.saving ? 'primary' : 'positive'"
                                  unchecked-icon="spellcheck"
                                  :checked-icon="editor.saving ? 'backup' : 'check'"
                                  @click.lazy="editorAutosave"
                        />
                    <q-tooltip>Autosave</q-tooltip>
                    </span>
                    <q-btn flat :disabled="!editorFileModified" loader @click="(e, done) => { saveEdits(done) }"
                           v-show="!editor.autosave">
                        <q-icon v-if="editorFileModified" title="Save" name="save"/>
                        <q-icon v-else title="Saved!" name="check_circle"/>

                    </q-btn>
                </q-toolbar>

                <q-toolbar slot="footer">
                    <q-select dark style="margin-top: 0; margin-bottom: 0;" :options="editor.themeOptions"
                              v-model="editor.theme"/>
                </q-toolbar>

                <editor v-model="editor.code"
                        :file="selectedPaths[0]"
                        :mime="editor.mime"
                        :theme="editor.theme"
                        @blur="editorAutosave"
                ></editor>
            </q-modal-layout>
        </q-modal>
    </div>
</template>

<script>

    import md5 from 'blueimp-md5'
    import editor from '../ide/editor'
    import {
        QSearch,
        QPagination,
        QSelect,
        QCheckbox,
        QIcon,
        QSpinnerDots,
        QFab,
        QTooltip,
        QFabAction,
        QFixedPosition,
        QPullToRefresh,
        QModal, QModalLayout, QToolbarTitle, QToolbar, QToggle,
        QBtn,
        Loading,
        QUploader,
    } from 'quasar'
    import {format, date, Toast, Dialog} from 'quasar'
    import Vue from 'vue'
    import VueFuse from 'vue-fuse'

    Vue.use(VueFuse)

    const {humanStorageSize} = format
    export default {
        components: {
            QSearch,
            QPagination,
            QSelect,
            QCheckbox,
            QIcon,
            QSpinnerDots,
            QFab,
            QTooltip,
            QFabAction,
            QFixedPosition,
            QPullToRefresh,
            QModal, QModalLayout, QToolbarTitle, QToolbar, QToggle,
            QBtn,
            editor,
            QUploader
        },
        props: {
            table: {
                type: Array,
                required: true,
                default: () => this.$store.fm.manager.table
            },
            baseId: {
                type: Number,
                required: true
            },
            paginationOptions: {
                type: Array,
                default: () => [5, 10, 30, 100, 500, 1000]
            },
            itemsPerPage: {
                type: Number,
                default: 30
            }
        },
        mounted() {
            window.onbeforeunload = () => this.windowClose()
            this.listStorages(); // Just to update $store.fm.storages
        },
        data() {
            return {
                internalItemsPerPage: this.itemsPerPage,
                itemsSelecteds: [],
                selectedClass: 'bg-tertiary text-white',
                search: '',
                results: [],
                page: 1,
                searchOptions: {
                    keys: [
                        "basename",
                    ],
                    defaultAll: true,
                },
                sorting: {
                    field: 'basename',
                    asc: true,
                    type: String
                },
                editor: {
                    path: '',
                    code: '',
                    saving: false,
                    savedCode: '',
                    mime: 'text/plain',
                    autosave: false,
                    theme: 'monokai',
                    themeOptions: [
                        {label: 'Dark: Material', value: 'material'},
                        {label: 'Dark: Monokai', value: 'monokai'},
                        {label: 'Light: Elegant', value: 'elegant'},
                        {label: 'Light: Neat', value: 'neat'},
                    ]
                },
            }
        },
        computed: {
            allSelected() {
                return this.itemsSelecteds.length === this.list.length
            },
            selectedPaths() {
                return this.itemsSelecteds.map(i => this.list[i])
            },
            onlyFilesSelected() {
                return this.selectedPaths.every(i => i.type == 'file')
            },
            list() {
                const itemsPerPage = parseInt(this.internalItemsPerPage)
                const start = (this.page - 1) * itemsPerPage
                const end = start + itemsPerPage

                let partialList = this.currentList.slice(start, end)

                partialList.map(x => {
                    x.icon = this.icon(x)
                    return x
                })
                return partialList
            },
            totalPages() {
                return Math.ceil(this.currentList.length / this.internalItemsPerPage)
            },
            currentPath() {
                return '/' + (this.$route.params.path || '')
            },
            currentList() { // Useful for totalPages
                let final
                if (this.search) {
                    final = this.results
                } else {
                    let r = this.table

                    r.sort(this.compare)
                    const folders = r.filter(item => item.type == 'dir')
                    const files = r.filter(item => item.type != 'dir')

                    r = folders.concat(files)

                    final = this.sorting.asc ? r : r.reverse()
                }

                return final
            },
            paginationOptionsSelect() {
                let x = this.paginationOptions.map(x => ({label: x.toString(), value: x}))
                x.unshift({label: 'All', value: 100000})
                return x
            },
            editorFileModified() {
                return this.editor.code !== this.editor.savedCode
            },
        },
        filters: {
            humanSize: v => {
                const n = Number.isInteger(parseInt(v))

                return n ? humanStorageSize(parseInt(v)) : humanStorageSize(0)
            },
            humanDate: v => {
                return !!v ? date.formatDate(v * 1000, 'DD MMM YYYY HH:mm') : '-'
            }
        },
        watch: {
            table(new_table) {
                this.page = 1
                this.itemsSelecteds = []
                this.search = ''
            },
            search(new_search) {
                this.page = 1
                this.itemsSelecteds = []

                this.$search(this.search, this.table, this.searchOptions).then(results => {
                    this.results = results
                })
            },
            itemsSelecteds(n) {
                if (n.length == 1) {
                    this.$refs.fabulous.open()
                } else if (!n.length) {
                    this.$refs.fabulous.close()
                }
            }
        },
        methods: {
            newUploads() {
                const path = this.currentPath
                const baseId = this.baseId
                const uid = md5(baseId + path)

                this.$store.fm.uploads.lastUid = uid
                const existsInUploads = this.$store.fm.uploads.groups.find(el => el.uid === uid)

                if (!existsInUploads) {
                    this.$store.fm.uploads.groups.unshift({uid, baseId, path})
                }

                this.$store.globalRefs.modals.fileUploadModal.open()
            },
            openCodeEditor(obj) {
                this.editor.path = obj.path
                this.editor.code = obj.read
                this.editor.savedCode = obj.read
                this.editor.mime = obj.mime
                this.$refs.editCodeModal.open()
            },
            editAsCode() {
                this.viewFile(this.baseId, this.selectedPaths[0], this.openCodeEditor)
            },
            saveEdits(done = () => {
            }) {
                if (this.editorFileModified) {
                    this.saveFile(this.baseId, '/' + this.editor.path, this.editor.code, done)
                } else {
                    done()
                }
            },
            editorAutosave() {
                if (this.editor.autosave) {
                    this.saveEdits()
                }
            },
            editorClose() {
                if (!this.editorFileModified) {
                    this.$refs.editCodeModal.close()
                } else {
                    if (confirm('Leave without saving changes?')) {
                        this.$refs.editCodeModal.close()
                    }
                }
            },
            windowClose() {
                if (this.editorFileModified) return 'Leave without saving changes?'
            },
            toast(txt) {
                Toast.create.warning(txt)
            },
            refresher(done) {
                done() // We already have a loader
                this.$emit('refresh')
            },
            confirmDelete() {
                const t = this
                Toast.create.negative({
                    html: 'Are you sure?',
                    icon: 'warning',
                    timeout: 3000,
                    button: {
                        label: 'Delete',
                        handler() {
                            t.deleteFiles(t.baseId, t.currentPath, t.selectedPaths)
                        },
                    }
                })
            },
            copySelecteds() {
                this.toClipboard({originId: this.baseId, paths: this.selectedPaths})
                Toast.create.info('Now go to other folder/cloud!')
                this.changeSelectAll()
            },
            newFolder() {
                const t = this
                Dialog.create({
                    title: 'New folder',
                    form: {
                        name: {
                            type: 'text',
                            label: 'Folder name',
                            model: ''
                        },
                    },
                    buttons: [
                        'Cancel',
                        {
                            label: 'Create',
                            handler(data) {
                                t.createDir(t.baseId, t.currentPath, data.name)
                            }
                        }
                    ]
                })
            },
            newFile() {
                const t = this
                Dialog.create({
                    title: 'New file',
                    form: {
                        name: {
                            type: 'text',
                            label: 'File name',
                            model: ''
                        },
                    },
                    buttons: [
                        'Cancel',
                        {
                            label: 'Create',
                            handler(data) {
                                t.createFile(t.baseId, t.currentPath, data.name)
                            }
                        }
                    ]
                })
            },
            renameItem() {
                const t = this
                Dialog.create({
                    title: 'Rename',
                    position: 'bottom',
                    form: {
                        new_name: {
                            type: 'text',
                            label: 'New name',
                            model: t.selectedPaths[0].basename
                        },
                    },
                    buttons: [
                        'Cancel',
                        {
                            label: 'Rename',
                            handler(data) {
                                t.renameDoc(t.baseId, t.selectedPaths[0], data.new_name)
                            }
                        }
                    ]
                })
            },
            changeSelectAll() {
                const all = Object.keys(this.list).map(x => parseInt(x))

                if (this.itemsSelecteds.length) {
                    this.itemsSelecteds = []
                } else {
                    this.itemsSelecteds = [...Array(this.list.length).keys()]
                }
            },
            itemClick(i) {
                if (this.itemsSelecteds.length) {
                    this.$refs.items[i].$el.click()
                } else {
                    const item = this.list[i]
                    if (item.type == 'dir') {
                        this.$router.push({path: `/fm/${this.baseId}/${item.path}`})
                    } else {
                        alert(`you clicked  ${item.basename} ${item.type}`)
                    }
                }
            },
            changeOrder(field, type = String) {
                if (!this.search) {
                    if (this.sorting.field == field) { // Same field
                        this.sorting.asc = !this.sorting.asc
                    } else { // New field
                        this.sorting.field = field
                        this.sorting.asc = true
                    }

                    this.sorting.type = type
                }
            },
            compare(a, b) {
                if (this.sorting.type === String) {
                    return this.compareString(a, b)
                } else { // Number
                    return this.compareNumber(a, b)
                }
            },
            compareNumber(a, b) {
                return a[this.sorting.field] - b[this.sorting.field]
            },
            compareString(a, b) {
                const nameA = a[this.sorting.field].toUpperCase(); // ignore upper and lowercase
                const nameB = b[this.sorting.field].toUpperCase(); // ignore upper and lowercase
                if (nameA < nameB) {
                    return -1;
                }
                if (nameA > nameB) {
                    return 1;
                }

                // names must be equal
                return 0;
            },
            icon(item) {
                const ext = item.basename.split('.').pop()

                if (item.type == 'dir') {
                    return 'fa-folder'
                } else if (this.icons_table[item.extension]) {
                    return this.icons_table[item.extension]
                } else if (this.icons_table[ext]) {
                    return this.icons_table[ext]
                } else if (item.basename.charAt(0) === '.') {
                    return 'fa-sliders'
                }

                return 'fa-file-o'
            }
        }
    };
</script>

<style lang="scss">
    tr {
        .checkbox-select {
            max-width: 1rem;
        }
        .select {
            display: none;
        }
        &:hover {
            cursor: pointer;
            .icons {
                display: none;
            }
            .select {
                display: block;
            }
        }
    }

</style>
