<template>
    <div>
        <q-modal ref="fileUploadModal" @open="modalOpen" @close="modalClose"
                 :content-css="{minWidth: '80vw', minHeight: '80vh'}">
            <q-modal-layout>
                <q-toolbar slot="header">
                    <q-btn flat @click="$refs.fileUploadModal.close()">
                        <q-icon name="keyboard_arrow_left"/>
                    </q-btn>
                    <q-toolbar-title>
                        Uploads
                    </q-toolbar-title>
                    <q-btn flat :disabled="!totalFiles" @click="stopAll()">
                        <q-icon name="stop"/>
                        Stop
                    </q-btn>
                    <q-btn flat :disabled="!totalFiles" @click="clearAll()">
                        <q-icon name="delete_forever"/>
                        Clear
                    </q-btn>
                </q-toolbar>
                <div v-if="!groups.length" class="">
                    <h1 class="text-grey-4 text-center">
                        <br><br>
                        <q-icon name="fa-upload"></q-icon>
                        <br>
                        no uploads
                    </h1>
                </div>
                <q-list v-else>
                    <q-collapsible v-for="(item, key) in groups" :key="item.uid"
                                   :opened="item.uid == $store.fm.uploads.lastUid"
                                   :icon="icon(item.baseId).icon" :label="storage(item.baseId).name"
                                   :sublabel="item.path"
                                   group="uploads"
                    >
                        <uploader :ref="'up-' + item.uid" :group="key" :item="item" @input="addedFile"/>

                    </q-collapsible>
                </q-list>

            </q-modal-layout>
        </q-modal>
    </div>
</template>

<script>
    import {QModal, QModalLayout, QToolbar, QBtn, QIcon, QToolbarTitle, QList, QCollapsible} from 'quasar'
    import uploader from './uploader'

    export default {
        components: {
            QModal, QModalLayout, QToolbar, QBtn, QIcon, QToolbarTitle, QList, QCollapsible,
            uploader
        },
        data() {
            return {
                groups: [],
                files: {},
                ups: []
            }
        },
        mounted() {
            this.$store.globalRefs.modals.fileUploadModal = this.$refs.fileUploadModal
            this.groups = this.$store.fm.uploads.groups
        },
        methods: {
            modalOpen() {
                this.$store.fm.uploads.someSuccess = false
                this.$store.fm.uploads.someFail = false
            },
            modalClose() {
                const someSuccess = this.$store.fm.uploads.someSuccess
                const sid = this.$route.params.storage_id
                const path = this.$route.params.path
                if (someSuccess && sid && path) {
                    this.listFiles(sid, path)
                }
            },
            storage(id) {
                return this.$store.fm.storages.find(el => el.id == id) || {name: '404'}
            },
            icon(id) {
                return this.typeStorage(this.storage(id).type)
            },
            addedFile(item, files) {
                this.$set(this.files, item.uid, files)
            },
            startAll() {
                this.ups.forEach(el => el.uploader.active = true)
            },
            stopAll() {
                this.ups.forEach(el => el.uploader.active = false)
            },
            clearAll() {
                this.ups.forEach(el => el.removeAll())
            }
        },
        computed: {
            totalFiles() {
                return Object.values(this.files).map(i => i.length).reduce((a, b) => a + b, 0)
            },
            progress() {
                return Math.floor(this.ups.summer('progress') / this.ups.length) || 0
            },
            speed() {
                return Math.floor(this.ups.summer('speed') / this.sending) || 0
            },
            sending() {
                return this.ups.summer('sending')
            },
            filesSendingProgress() {
                return Math.floor(this.ups.summer('filesSendingProgress') / this.sending) || 0
            },
            successes() {
                return this.ups.summer('successes')
            },
            failures() {
                return this.ups.summer('failures')
            },
            in_queue() {
                return this.ups.summer('in_queue')
            },
        },
        watch: {
            files(old, files) {
                console.info(files)
            },
            groups(old, groups) {
                this.$nextTick(() => {
                    if (!old || !this.$refs || !this.groups.length || !this.$refs['up-' + this.groups[0].uid]) {
                        this.ups = []
                    }
                    else {
                        this.ups = this.groups.map(xxxx => {
                            return this.$refs['up-' + xxxx.uid][0]
                        })
                    }
                })
            }
        }
    }
</script>

<style lang="stylus">
    .file-uploads
        width 100%
</style>
