<template class="no-shadow">
    <q-layout class="no-shadow" ref="layout" view="lHh Lpr fff" :left-class="{'bg-grey-2': true}">
        <q-toolbar slot="header">
            <q-btn flat @click="$refs.layout.toggleLeft()">
                <q-icon name="menu" v-if="!$route.meta.icon"/>
                <q-icon :name="$route.meta.icon" v-else/>
            </q-btn>

            <q-toolbar-title v-if="!$route.meta.title">
                CloudKitPRO
            </q-toolbar-title>
            <q-toolbar-title v-else>
                <span v-if="$route.name == 'fm-list-files' && $store.fm.manager.path.length > 5">
                {{$route.meta.shortTitle}}    
                </span>
                <span v-else>
                {{$route.meta.title}}
                </span>
                <div v-if="$route.meta.subtitle" slot="subtitle">{{$route.meta.subtitle}}</div>
                <linkify-path :path="$store.fm.manager.path"></linkify-path>
            </q-toolbar-title>
            <q-btn flat v-show="$route.path === '/fm'" @click="dialogAddStorage">
                <q-tooltip ref="tooltipFMAddStorage" @open="registerRefs" anchor="center left" self="center middle"
                           :offset="[100, 0]">Add storage account
                </q-tooltip>
                <q-icon name="playlist_add"/>
            </q-btn>
            <q-modal ref="modalFMAddStorage" @open="openModalFMAddStorage" @close="dialogAddStorageClosed"
                     position="top"
                     :content-css="{padding: '10px 30px 20px', minWidth: '50vw'}">
                <fm-add-storage></fm-add-storage>
            </q-modal>
            <q-spinner-grid v-if="$store.fm.manager.loading"/>
            <copy-move-btn v-else-if="$route.name == 'fm-list-files' && Object.keys($store.fm.manager.clipboard).length" />
        </q-toolbar>

        <div slot="left">
            <q-list no-border>
                <q-list-header class="text-center"><h5>CloudKit<b>PRO</b></h5>
                    <p></p>
                </q-list-header>
                <q-side-link item to="/fm">
                    <q-item-side icon="storage"/>
                    <q-item-main label="Files manager" sublabel="Manage your files between clouds"/>
                </q-side-link>
                <q-side-link item to="/deploy">
                    <q-item-side icon="weekend"/>
                    <q-item-main label="Deploy" sublabel="Automate your processes"/>
                </q-side-link>
            </q-list>

            <q-list no-border slot="footer" class="absolute-bottom">
                <uploader-group ref="uploaderGroup"/>
                <q-item link @click="$store.globalRefs.modals.fileUploadModal.open()">
                    <q-item-side icon="backup"/>
                    <q-item-main label="Uploads"
                                 :sublabel="uploadsStatusText"/>
                    <q-item-side right v-show="uploads.speed">
                        {{ uploads.speed | humanSize }}/s
                    </q-item-side>
                </q-item>
                <q-item dense>
                    <q-progress v-show="uploads.totalFiles" :color="uploadsColor" :percentage="uploads.progress"
                    />
                </q-item>
                <q-item-separator/>
                <q-side-link item to="/prefs">
                    <q-item-side icon="settings"/>
                    <q-item-main label="Preferences" sublabel="Change your settings"/>
                </q-side-link>
                <q-side-link item to="/logout">
                    <q-item-side icon="exit to app"/>
                    <q-item-main label="Logout" :sublabel="$store.user.email"/>
                </q-side-link>
            </q-list>
        </div>
        <div slot="right">Notifications sidebar</div>
        <router-view/>
    </q-layout>
</template>

<script>
    import {
        openURL,
        format,
        QLayout,
        QToolbar,
        QToolbarTitle,
        QBtn,
        QIcon,
        QList,
        QListHeader,
        QSideLink,
        QItem,
        QItemSide,
        QItemMain,
        QItemSeparator,
        QTooltip,
        QModal,
        QSpinnerGrid,
        QChip,
        QKnob,
        QProgress,
        QSpinner
    } from 'quasar'
    import fmAddStorage from './file-manager/storage/add-storage.vue'
    import linkifyPath from './file-manager/linkify-path'
    import uploaderGroup from './file-manager/uploader-group'
    import copyMoveBtn from './file-manager/copy-move-btn'

    const {humanStorageSize} = format
    export default {
        name: 'index',
        components: {
            QLayout,
            QToolbar,
            QToolbarTitle,
            QBtn,
            QIcon,
            QList,
            QListHeader,
            QSideLink,
            QItem,
            QItemSide,
            QItemMain,
            QItemSeparator,
            QTooltip,
            QModal,
            QSpinnerGrid,
            fmAddStorage,
            linkifyPath,
            uploaderGroup,
            QChip,
            QKnob,
            QProgress,
            QSpinner,
            copyMoveBtn
        },
        data() {
            return {
                isMounted: false,
                uploads: {progress: 0}
            }
        },
        computed: {
            uploadsColor() {
                if (this.uploads.sending) {
                    return 'primary'
                }
                else if (this.uploads.failures) {
                    return 'negative'
                } else if (this.uploads.successes) {
                    return 'positive'
                } else {
                    return 'faded'
                }
            },
            uploadsStatusText() {
                if (this.uploads.sending) {
                    return `Sending ${this.uploads.sending + this.uploads.in_queue}`
                }
                if (!this.uploads.totalFiles) {
                    return 'no files in queue'
                }
                if (this.uploads.successes && this.uploads.failures) {
                    return `${this.uploads.failures} failed, ${this.uploads.successes} successful`
                }
                if (this.uploads.failures) {
                    return `${this.uploads.failures} failed`
                }
                if (this.uploads.successes) {
                    return `${this.uploads.successes} successful`
                }
                return `${this.uploads.in_queue} files in queue`
            }
        },
        methods: {
            registerRefs() {
                this.$store.globalRefs.modals.fmAddStorage = this.$refs.modalFMAddStorage
                this.$store.globalRefs.tooltips.fmAddStorage = this.$refs.tooltipFMAddStorage
            },
            openModalFMAddStorage() {
                this.toastEncData()
                this.registerRefs()
            },
        },
        mounted() {
            this.$refs.layout.hideRight()
            this.registerRefs()

            this.isMounted = true

            this.$nextTick(() => this.uploads = this.$refs.uploaderGroup)
        },
        beforeDestroy() {
        },
        watch: {},
        filters: {
            humanSize: v => {
                return !!v ? humanStorageSize(v) : humanStorageSize(0)
            },
        }
    }
</script>

<style lang="stylus"></style>
