<template>
    <div @keydown.enter="addStorage">
        <h5 v-if="$store.fm.editingStorage">Edit cloud storage</h5>
        <h5 v-else>Add cloud storage</h5>
        <q-select filter v-model="$store.fm.addStorage.type" float-label="Select the cloud storage type" radio
                  :options="cloudOptions"/>
        <div class="col">
            <q-input v-model="$store.fm.addStorage.name" float-label="Name" placeholder="whatever you want"
                     type="text"/>
        </div>
        <component :is="storage_component"></component>

        <q-fixed-position v-show="$store.fm.addStorage.type" corner="bottom-right" :offset="[18, 18]">
            <q-btn v-if="$store.fm.savingStorage" round color="primary" disabled>
                <q-spinner-bars></q-spinner-bars>
            </q-btn>
            <q-btn v-else round color="primary" @click="addStorage">
                <q-icon name="save"/>
            </q-btn>
        </q-fixed-position>
    </div>
</template>

<script>
    import {QSelect, QFixedPosition, QBtn, QIcon, QSpinnerBars, QInput} from 'quasar'
    import {Toast} from 'quasar'
    import fmAddStorageFtp from './ftp'
    import fmAddStorageSftp from './sftp'
    import fmAddStorageS3 from './s3'
    import fmAddStorageAzure from './azure'

    export default {
        components: {
            QSelect, QFixedPosition, QBtn, QIcon, QSpinnerBars, QInput,
            fmAddStorageFtp, fmAddStorageSftp, fmAddStorageS3, fmAddStorageAzure
        },
        mounted() {
        },
        data() {
            return {
                cloudOptions: [
                    {
                        label: 'FTP',
                        value: 'ftp'
                    },
                    {
                        label: 'SFTP / SSH',
                        value: 'sftp'
                    },
                    {
                        label: 'Amazon S3',
                        value: 's3'
                    },
                    {
                        label: 'Microsoft Azure (BETA)',
                        value: 'azure'
                    }
                ]
            }
        },
        computed: {
            storage_component() {
                return 'fm-add-storage-' + this.$store.fm.addStorage.type
            }
        },
        methods: {
        }
    }
</script>

<style></style>
