<template>
   <div>
      <div class="row">
         <div class="col">
            <q-input autofocus v-model="$store.fm.addStorage.host" :error="!!$store.errors.host" :float-label="!!$store.errors.host ? $store.errors.host[0] : 'Host'" placeholder="ftp.example.com"/>
         </div>
         <div class="col-3">
            <q-input v-model="$store.fm.addStorage.port" type="number" float-label="Port"/>
         </div>
      </div>
      <div class="row sm-gutter">
         <div class="col">
            <q-input v-model="$store.fm.addStorage.username" :error="!!$store.errors.username" :float-label="!!$store.errors.username ? $store.errors.username[0] : 'Username'"/>
         </div>
         <div class="col">
            <q-input v-model="$store.fm.addStorage.password" :error="!!$store.errors.password" :float-label="!!$store.errors.password ? $store.errors.password[0] : 'Password'" type="password"/>
         </div>
      </div>
      <p class="caption">Optional</p>
      <q-input v-model="$store.fm.addStorage.root" float-label="Root path"/>
      <br>
      <div class="row">
         <div class="col">
            <q-toggle v-model="$store.fm.addStorage.passive" label="Passive"/>
         </div>
         <div class="col">
            <q-toggle v-model="$store.fm.addStorage.ssl" label="SSL"/>
         </div>
      </div>
   </div>
</template>

<script>
  import {QInput, QToggle} from 'quasar'

  export default {
    components: {QInput, QToggle},
    data() {
      return {

      }
    }
  }
</script>

<style></style>
