<template>
    <!-- if you want automatic padding use "layout-padding" class -->
    <div class="layout-padding">
        <div v-if="!$store.fm.storages.length" @click="dialogAddStorage">
            <h1 class="text-grey-4 text-center">
                <br><br>
                <q-icon name="playlist_add"></q-icon>
                <br>
                add new one?
            </h1>
        </div>
        <q-list v-else highlight link no-border>
            <q-list-header>Storage accounts</q-list-header>

            <q-item v-for="(storage, index) in $store.fm.storages" :key="storage.id"
                    @click="$router.push(`fm/${storage.id}`)">
                <q-item-side right>
                    <q-item-tile :icon="typeStorage(storage.type).icon" :color="typeStorage(storage.type).color"/>
                </q-item-side>
                <q-item-main>
                    <q-item-tile label>{{ storage.name ? storage.name : storage.host }}</q-item-tile>
                    <q-item-tile sublabel>{{ typeStorage(storage.type).desc }}</q-item-tile>
                </q-item-main>
                <q-item-side right v-if="$store.fm.deletingStorage.includes(storage.id)">
                    <q-spinner-bars color="primary"></q-spinner-bars>
                </q-item-side>
                <q-item-side right v-else icon="more_vert">
                    <q-popover ref="popovers">
                        <q-list link>
                            <q-item @click="$router.push(`fm/${storage.id}`)">
                                <q-item-main label="Browse"/>
                            </q-item>
                            <q-item @click="dialogEditStorage(storage.id);$refs.popovers[index].close()">
                                <q-item-main label="Edit"/>
                            </q-item>
                            <q-item @click="deleteStorage(storage.id);$refs.popovers[index].close()">
                                <q-item-main label="Delete"/>
                            </q-item>
                        </q-list>
                    </q-popover>
                </q-item-side>
            </q-item>
        </q-list>
    </div>

</template>

<script>
    import {
        QModal, QBtn, QIcon, QPopover, QSpinnerBars,
        QList, QListHeader, QItem, QItemSide, QItemMain, QItemTile, QItemSeparator
    } from 'quasar'

    export default {
        components: {
            QModal, QBtn, QIcon, QPopover, QSpinnerBars,
            QList, QListHeader, QItem, QItemSide, QItemMain, QItemTile, QItemSeparator
        },
        mounted() {
            this.listStorages()
        },
        methods: {

        },
        data() {
            return {}
        }
    }
</script>

<style></style>
