<template>
    <div>
        <div class="row sm-gutter">
            <div class="col">
                <q-input v-model="$store.fm.addStorage.username" :error="!!$store.errors.username"
                         :float-label="$store.errors.username ? $store.errors.username[0] : 'Key / Username'"/>
            </div>
            <div class="col">
                <q-input v-model="$store.fm.addStorage.password" float-label="Secret" type="password"/>
            </div>
        </div>
        <div class="row sm-gutter">
            <div class="col">
                <q-select filter v-model="$store.fm.addStorage.region"
                          :float-label="$store.errors.region ? $store.errors.region[0] : 'Region'" radio
                          :options="S3Regions"/>
            </div>
            <div class="col">
                <q-input v-model="$store.fm.addStorage.bucket" float-label="Bucket" type="text"/>
            </div>
        </div>
        <q-input v-model="$store.fm.addStorage.root" float-label="Root path (optional)"/>

    </div>
</template>

<script>
    import {QInput, QSelect} from 'quasar'

    export default {
        components: {QInput, QSelect},
        data() {
            return {
                S3Regions: [
                    {
                        label: 'US East (N. Virginia)',
                        value: 'us-east-1'
                    },
                    {
                        label: 'US East (Ohio)',
                        value: 'us-east-2'
                    },
                    {
                        label: 'US West (N. California)',
                        value: 'us-west-1'
                    },
                    {
                        label: 'US West (Oregon)',
                        value: 'us-west-2'
                    },
                    {
                        label: 'Canada (Central)',
                        value: 'ca-central-1'
                    },
                    {
                        label: 'Asia Pacific (Mumbai)',
                        value: 'ap-south-1'
                    },
                    {
                        label: 'Asia Pacific (Seoul)',
                        value: 'ap-northeast-2'
                    },
                    {
                        label: 'Asia Pacific (Singapore)',
                        value: 'ap-southeast-1'
                    },
                    {
                        label: 'Asia Pacific (Sydney)',
                        value: 'ap-southeast-2'
                    },
                    {
                        label: 'Asia Pacific (Tokyo)',
                        value: 'ap-northeast-1'
                    },
                    {
                        label: 'EU (Frankfurt)',
                        value: 'eu-central-1'
                    },
                    {
                        label: 'EU (Ireland)',
                        value: 'eu-west-1'
                    },
                    {
                        label: 'EU (London)',
                        value: 'eu-west-2'
                    },
                    {
                        label: 'South America (São Paulo)',
                        value: 'sa-east-1'
                    },
                ]
            }
        }
    }
</script>

<style></style>
