<template>
   <div>
      <div class="row sm-gutter">
         <div class="col">
            <q-input autofocus v-model="$store.fm.addStorage.host" :error="!!$store.errors.host" :float-label="$store.errors.host ? $store.errors.host[0] : 'Host'" placeholder="example.com"/>
         </div>
         <div class="col-3">
            <q-input v-model="$store.fm.addStorage.port" type="number" float-label="Port"/>
         </div>
      </div>
      <div class="row sm-gutter">
         <div class="col">
            <q-input v-model="$store.fm.addStorage.username" :error="!!$store.errors.username" :float-label="$store.errors.username ? $store.errors.username[0] : 'Username'"/>
         </div>
         <div class="col">
            <q-input v-model="$store.fm.addStorage.password" float-label="Password" type="password"/>
         </div>
      </div>
      <q-input type="textarea" v-model="$store.fm.addStorage.pkey" float-label="Private Key" placeholder="Private key and password are optional" :max-height="80" :min-rows="3"/>
      <q-input v-model="$store.fm.addStorage.root" float-label="Root path (optional)"/>

   </div>
</template>

<script>
  import {QInput} from 'quasar'

  export default {
    components: {QInput},
    data() {
      return {

      }
    }
  }
</script>

<style></style>
