<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CloudKitPRO</title>
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.publicPath %>statics/icons/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="<%= htmlWebpackPlugin.files.publicPath %>statics/icons/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32"
          href="<%= htmlWebpackPlugin.files.publicPath %>statics/icons/icon-72x72.png">
    <link rel="icon" type="image/png" sizes="16x16"
          href="<%= htmlWebpackPlugin.files.publicPath %>statics/icons/icon-72x72.png">
    <link rel="shortcut icon" type="image/png"
          href="<%= htmlWebpackPlugin.files.publicPath %>statics/icons/icon-152x152.png"/>
    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>statics/manifest.json">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="apple-mobile-web-app-title" content="CloudKitPRO">
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>statics/icons/icon-152x152.png">
    <!-- Add to home screen for Windows -->
    <meta name="msapplication-TileImage"
          content="<%= htmlWebpackPlugin.files.publicPath %>statics/icons/icon-144x144.png">
    <meta name="msapplication-TileColor" content="#ffffff">

    <meta name="theme-color" content="#0C507E">

    <% for (var chunk of webpack.chunks) {
    for (var file of chunk.files) {
    if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>"
          as="<%= file.match(/\.css$/)?'style':'script' %>">
    <% }}} %>
</head>
<body>
<noscript>
    We need JavaScript enabled to work.
</noscript>
<div id="q-app"></div>
<!-- Todo: only include in production -->
<%= htmlWebpackPlugin.options.serviceWorkerLoader %>
<!-- built files will be auto injected -->
</body>
</html>
