<template>
   <!-- if you want automatic padding use "layout-padding" class -->
   <div class="layout-padding row justify-center items-center content-center fullscreen">
      <q-card class="col-xs-auto col-sm-8 col-md-5 col-lg-4 col-xl-3 shadow-10">
         <div class="row bg-primary">
            <div class="col text-center text-white">
               <h4>CloudKit<b>PRO</b></h4>
            </div>
         </div>
         <q-card-main>
            <q-input @keyup.enter="submit" v-if="isRegister" v-model="name" :error="!!$store.errors.name" :float-label="$store.errors.name ? $store.errors.name[0] : 'Name'" type="text" :before="[{icon: 'face', handler () {}}]"/>
            <q-input @keyup.enter="submit" v-model="email" :error="!!$store.errors.email" :float-label="$store.errors.email ? $store.errors.email[0] : 'E-mail'" type="email" :before="[{icon: 'mail', handler () {}}]"/>
            <q-input @keyup.enter="submit" v-if="isLogin || isRegister" v-model="password" :error="!!$store.errors.password" :float-label="$store.errors.password ? $store.errors.password[0] : 'Password'" type="password" :before="[{icon: 'vpn_key', handler () {}}]"/>
            <q-input @keyup.enter="submit" v-if="isRegister" v-model="password_confirmation" float-label="Confirm the password" type="password" no-pass-toggle :before="[{icon: 'vpn_key', handler () {}}]"/>
            <q-checkbox @keyup.enter="submit" v-if="isLogin" v-model="remember" checked-icon="check" label="Remember me"/>
            <p>&nbsp;</p>
            <div class="row">
               <div class="col"></div>
               <div class="col-8 text-center">
                  <q-btn v-if="isLogin" color="primary full-width" @click="submit" loader>Enter</q-btn>
                  <q-btn v-else-if="isRegister" color="primary full-width" @click="submit" loader>Register</q-btn>
                  <q-btn v-else-if="isForgot" color="tertiary full-width" @click="submit" loader>Recover</q-btn>
               </div>
               <div class="col"></div>
            </div>
            <br>
            <div class="row justify-between">
               <div class="col text-left">
                  <q-btn v-if="isRegister" flat @click="goTo('/login')">Login</q-btn>
                  <q-btn v-else="isLogin" flat color="faded" @click="goTo('/register')">Register</q-btn>
               </div>
               <div class="col text-right">
                  <q-btn v-if="isForgot" flat @click="goTo('/login')">Login</q-btn>
                  <q-btn v-else="isLogin" flat color="faded" @click="goTo('/forgot')">Forgot</q-btn>
               </div>
            </div>
         </q-card-main>

      </q-card>
   </div>
</template>

<script>
  import {
    LocalStorage,
    SessionStorage,
    QField,
    QInput,
    QCard,
    QCardMain,
    QCardTitle,
    QCheckbox,
    QBtn,
    QCardActions,
    QIcon,
    Toast
  } from 'quasar'
  import axios from 'axios'

  export default {
    components: {QField, QInput, QCard, QCardMain, QCardTitle, QCheckbox, QBtn, QCardActions, QIcon, Toast},
    created() {
    },
    mounted() {
      if (this.checkLogin()) {
        this.afterLogin()
      }
    },
    data() {
      return {
        name:                  '',
        email:                 '',
        password:              '',
        password_confirmation: '',
        remember:              true,
        body:                  [],
        errors:                []
      }
    },
    methods:    {
      goTo(uri) {
        this.body = [] // Clear the errors

        this.$router.push(uri)
      },
      submit(event, done) {
        if (this.isLogin) {
          this.login(done)
        } else if (this.isRegister) {
          this.register(done)
        } else if (this.isForgot) {
          this.forgot(done)
        }
      },
      login(done) {
        axios.post('user/login', {
          email:    this.email,
          password: this.password,
          remember: this.remember
        })
            .then(response => {
              if (typeof done === 'function') done()

              if (response) {
                this.body = response.data;

                this.setToken(this.body)

                this.afterLogin()
              } else {
                throw new Error(response);
              }
            })
            .catch(error => {
              if (typeof done === 'function') done()
              this.body   = error.response.data
              this.errors = this.body.errors
            })
      },
      register(done) {
        axios.post('user/register', {
          name:                  this.name,
          email:                 this.email,
          password:              this.password,
          password_confirmation: this.password_confirmation
        })
            .then(response => {
              if (typeof done === 'function') done()
              // get body data
              this.body = response.data
              let msg   = this.body.message
              if (msg) {
                Toast.create.positive({
                  html:    msg,
                  timeout: 4000
                })
              }
              this.$router.push('/login')
            })
            .catch(error => {
              if (typeof done === 'function') done()
            })
      },
      forgot(done) {
        Toast.create.negative({
          html: 'Sorry, not ready yet'
        })
        done();
      },
    },
    computed:   {
      isLogin() {
        return this.$route.path === '/login'
      }
      ,
      isRegister() {
        return this.$route.path === '/register'
      }
      ,
      isForgot() {
        return this.$route.path === '/forgot'
      }
    }
  }
</script>

<style lang="stylus">

</style>
