<template>
    <small>Something is very wrong. Please, reload the page.</small>
</template>

<script>
    import {LocalStorage, Toast} from 'quasar'
    import axios from 'axios'

    export default {
        mounted() {
            axios.get('user/logout')
                .then(() => {
                    this.$store.token = null
                    LocalStorage.clear()

                    this.$router.push('/login')
                }).catch(() => {
                this.$store.token = null
                LocalStorage.clear()

                this.$router.push('/login')
            })
        }
    }
</script>

<style></style>
